@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
  
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@keyframes shine {
  to {
    transform: translateX(200%);
  }
}

.animate-shine {
  animation: shine 3s ease-in-out infinite;
}
